.root {
    position: fixed;
    display: flex;
    justify-content: left;
    width: 100%;
    max-width: min(430px, 90vh);
    z-index: 3;
    word-break: break-word;
}

.wrapper {
    width: 100%;
}

.alert {
    border-radius: 4px;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}

.right {
    right: 10px;
}

.left {
    left: 10px;
}

.top {
    top: 10px;
}

.bottom {
    bottom: 15px;
}

@media (max-width: 470px) {
    .root {
        right: 10px;
        left: 10px;
        width: inherit;
    }
}