.mainContainer {
  display: flex;
  justify-content: center;
  overflow-y: auto;
  padding: 8px;
}

.helpButtonsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.translateBlock {
  display: flex;
  justify-content: space-between;
}

.scoreButtonsContainer {
  display: flex;
  justify-content: center;
  height: 85px;
}

.smallIcons {
  width: 25px;
  min-width: 25px;
  height: 25px;
  min-height: 25px;
}

$voiceActionsHeight: 70px;

.emptyBlock{
  height: $voiceActionsHeight + 10px;
}

.voiceActionsContainer {
  display: flex;
  bottom: 0;
  align-items: center;
  width: 100%;
  height: $voiceActionsHeight;
  position: fixed;
  justify-content: center;
  background-color: #F7F7F8;
  opacity: 0.9;
}

.voiceActionsWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 300px;
  width: 100%;
}

.voiceActionIcon {
  width: 40px;
  height: 40px;
}

.voiceActionMic {
  width: 60px;
  height: 60px;
}

.contextSentenceList {
  overflow-y: auto;
  max-height: 30vh;
}

.contextTranslateContainer {
  display: flex;
}

.contextSentence {
  font-weight: bold;
}
.imageBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 12px;
  background-size: cover;
}
