.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

.flex {
  display: flex;
}

.boxShadow {
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.inlineFlex {
  display: inline-flex;
}

.justifyContentCenter {
  justify-content: center;
}

.justifyContentLeft {
  justify-content: left;
}

.justifyContentRight {
  justify-content: right;
}

.alignItemsCenter {
  align-items: center;
}

.alignItemsStart {
  align-items: start;
}

.alignItemsEnd {
  align-items: end;
}

.textAlignCenter {
  text-align: center;
}

.textAlignRight {
  text-align: right;
}

.textAlignLeft {
  text-align: left;
}

