.authFormContainer {
  width: 50%;
  display: flex;
  justify-content: center;
}

.authFormContainerRight{
  margin-left: auto;
  align-items: center;
  height: 100%;
}

.authFormContainerWrapper {
  max-width: 400px;
  width: 100%;
}

.title {
  font-size: 64px;
}

.root {
  background-size: cover;
  position: absolute;
  overflow: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.signInBackgroundImage {
  background-image: url(./static/signin_1920_1080.png);
  background-position: center;
}

.signUpBackgroundImage {
  background-image: url(./static/signup_3840_2160.png);
  background-position: left;
}

.input {
  outline: none;
  border: none;
  border-radius: 15px;
  width: 100%;
  box-sizing: border-box;
}

.loginButtonsWrp {
  width: 100%;
}

.loginButtons {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.socialButtons {
  padding-left: 16px;
  padding-right: 16px;
}

.buttonsContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.centerAlign{
  text-align: center;
}

@media (max-width: 1000px) {
  .title {
    font-size: 44px;
  }
  .disableImage {
    background-image: none;
  }
  .authFormContainer {
    width: inherit;
    margin-left: 24px;
    margin-right: 24px;
    padding-bottom: 32px;
  }
}

@media (max-width: 400px) {
  .authFormContainer {
    margin-top: 32px;
    align-items: initial;
    margin-left: 16px;
    margin-right: 16px;
  }
}