.wrapper {
  vertical-align: middle;
  display: inline-flex;
}

.fontScaleX1 {
  font-size: 1em;
}

.fontScaleX1_1 {
  font-size: 1.1em;
}

.fontScaleX1_2 {
  font-size: 1.2em;
}

.fontScaleX1_3 {
  font-size: 1.3em;
}

.fontScaleX1_4 {
  font-size: 1.4em;
}

.fontScaleX1_5 {
  font-size: 1.5em;
}

.fontScaleX1_6 {
  font-size: 1.6em;
}

.fontScaleX1_7 {
  font-size: 1.7em;
}

.fontScaleX1_8 {
  font-size: 1.8em;
}

.fontScaleX1_9 {
  font-size: 1.9em;
}

.fontScaleX2 {
  font-size: 2em;
}

.fontScaleX2_1 {
  font-size: 2.1em;
}

.fontScaleX2_2 {
  font-size: 2.2em;
}