.storyInfoLoader {
  min-height: 150px;
}

.storyName {
  vertical-align: middle;
  word-break: break-all;
}

.opacityBkg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.7;
  z-index: -1;
}

.actionContainer {
  z-index: 3;
}

.storyActions {
  min-height: 48px;
}

.storyDescription {
  white-space: pre-line;
}

.contentWrapper {
  overflow-y: auto;
}

.storyUnitDragContainer {
  position: relative;
}

.relative {
  position: relative;
}

.grid {
  z-index: 1;
  background-image: repeating-linear-gradient(0deg, transparent, transparent 69px, #ccc 69px, #ccc 70px), repeating-linear-gradient(-90deg, transparent, transparent 69px, #ccc 69px, #ccc 70px);
  background-size: 70px 70px;
}

.contextExampleContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.zIndex {
  z-index: 1;
}

.fullWidth {
  width: 100%;
}

.textInput {
  box-sizing: border-box;
  width: 100%;
  border: none;
  border-radius: 3px;
}

.textInput:focus {
  border: none;
}

.arrows {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -2;
}

.cursorGrab {
  cursor: grab;
}

.storyUnitDrag {
  position: absolute;
  box-sizing: content-box;
  border-radius: 4px;
  margin: 3px;
  min-width: 50px;
  max-width: 750px;
  cursor: default;
}

.arrowButtonTransitionOn {
  transition: opacity 300ms;
  opacity: 1;
}

.arrowButtonTransitionOff {
  transition: opacity 80ms;
  opacity: 0;
}

.buttonFlashing {
  animation: flash ease-in-out 1s infinite;
}

.unitFlashed {
  animation: flash ease-in-out 1s infinite;
}

@keyframes flash {
  0% {
    opacity: 1
  }
  50% {
    opacity: 0.35
  }
  100% {
    opacity: 1
  }
}

.wordBrake {
  word-break: break-word;
}

.storyTextFields {
  max-width: 600px;
}

.unitBorder {
  //not shorthand with inherit color
  border: 2px solid;
  border-color: inherit;
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  z-index: -1;
  border-radius: 4px;
}