$theme-color: (
        primary: #93dda0,
        primaryLight: #c5ffd1,
        primaryDark: #63ab71,
        secondary: #87a9ff,
        secondaryLight: #bbdaff,
        secondaryDark: #537acb,
        accident: #FFB74D,
        success: #81c784,
        error: #E10050,
);

$theme-outline: (
        main: #454545,
        light: #626262,
        dark: #0E0E0E,
        inverse: #FFFFFF
);

$theme-background: (
        main: #F7F7F8,
        light: #e9e9e9,
        dark: #2d2d2d,
        inverse: #0E0E0E
);

$inherit: inherit;

@mixin class($className, $propName, $value) {
  .#{$className} {
    #{$propName}: $value;
  }
}

@mixin pseudoClass($className, $pseudoName, $propName, $value) {
  .#{$className} {
    &:#{$pseudoName} {
      #{$propName}: $value;
    }
  }
}

@each $name, $color in map-merge($theme-color, $theme-background) {
  @include class($name + Background, background-color, $color);
  @include pseudoClass($name + BackgroundHover, hover, background-color, transparentize(darken($color, 10), 0.4));
  @include pseudoClass($name + BackgroundActive, active, background-color, transparentize(darken($color, 15), 0.4));
  @include pseudoClass($name + BackgroundDisabled, disabled, background-color, transparentize(darken($color, 10), 0.4));
}

@each $name, $color in map-merge($theme-color, $theme-outline) {
  @include class($name + Color, color, $color);
  @include pseudoClass($name + ColorHover, hover, color, transparentize(darken($color, 15), 0.7));
  @include pseudoClass($name + ColorActive, active, color, transparentize(darken($color, 20), 0.8));
  @include pseudoClass($name + ColorDisabled, disabled, color, transparentize(darken($color, 10), 0.7));
}

.inheritBackground {
  background-color: $inherit;
}

.inheritBackgroundHover:hover {
  background-color: $inherit;
}

.inheritBackgroundActive:active {
  background-color: $inherit;
}

.inheritBackgroundDisabled:disabled {
  background-color: $inherit;
}

.inheritColor {
  color: $inherit;
}

.inheritColorHover:hover {
  color: $inherit;
}

.inheritColorActive:active {
  color: $inherit;
}

.inheritColorDisabled:disabled {
  color: $inherit;
}