.baseButton {
  border-width: 0;
  cursor: pointer;

  &:disabled {
    cursor: unset;
    opacity: 0.6;
  }
}

.button {
  position: relative;
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  outline: 0;
  border-radius: 4px;
  padding: 0.6em 1.8em;
  height: min-content;
  vertical-align: middle;
  -webkit-user-select: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: filter 0.4s, box-shadow 0.4s, color 0.4s, background-color 0.4s, opacity 0.4s, text-shadow 0.4s;

  &:active {
    outline: none;
  }
}

.buttonBorder {
  border-style: solid;
  border-width: 1px;
  border-color: inherit;
}

.buttonShadow {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.buttonShadowHovers {
  &:hover {
    box-shadow: 0 2px 4px 3px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
  }

  &:active {
    box-shadow: 0 2px 4px 4px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
  }

  &:disabled {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  }
}

.buttonIcon {
  padding-right: 0.3em;
  padding-left: 0.34em;
  margin-top: -0.12em;
  margin-bottom: -0.15em;
}

.buttonIconPosLeft {
  margin-left: -0.7em;
}

.buttonIconPosRight {
  margin-right: -0.7em;
}
