$fontRobot: Roboto, serif;
$fontSourceSansPro: Source Sans Pro, serif;

.regular {
  font-weight: normal;
  font-size: 25px;
  line-height: 30px;
}

.tip {
  font-size: 18px;
}

.progress {
  font-size: 14px;
  font-weight: 600;
}

.subTip {
  font-size: 14px;
  font-weight: 300;
}

.headerNorm {
  font-size: 30px;
  line-height: 35px;
}

.header {
  font-size: 30px;
  line-height: 35px;
  font-weight: bold;
}

.subHeader {
  font-size: 16px;
  line-height: 20px;
}

.roboto {
  font-family: $fontRobot;
}

.sourceSansPro {
  font-family: $fontSourceSansPro;
}
