.root {
  border-radius: 2.9em;
  padding: 0.5em 0.9em;
}

.outlined {
  border-style: solid;
  border-width: 1px;
  border-color: inherit;
  background-color: inherit;
}

.chipDefault {
  background-color: #e0e0e0;
}

.chipIcon {
  margin-top: -0.5em;
  margin-bottom: -0.5em;
}

.buttonIconPosLeft {
  margin-left: -1.1em;
}

.buttonIconPosRight {
  margin-right: -1.1em;
}

.disButton {
  &:hover, &:active, &:disabled {
    cursor: inherit;
  }
}