.part {
  padding-bottom: 24px;
}

.partSplitter {
  background-color: grey;
  height: 1px;
  margin-top: 48px;
}

.partHeader {
  margin: 24px;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  will-change: transform;
  z-index: 2;
  top: 0;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2)
}

