.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    margin: 0;
  }

  .fullAnalyticsText {
    margin-top: 170px;
  }

  .analyticContainer {
    background-image: url("./static/trend-min.png");
    background-repeat: no-repeat;
    background-size: 800px;
    background-position: top right;
    width: 100%;
    height: 910px;
    display: flex;

    .textContainer {
      width: 50%;
      max-width: 800px;
      margin-left: 20px;
      background: #B3C6E7;
      box-shadow: 0 0 1px rgba(0, 0, 0, 0.04), 0 4px 8px rgba(0, 0, 0, 0.04), 0 16px 24px rgba(0, 0, 0, 0.04), 0 24px 32px rgba(0, 0, 0, 0.04);
      border-radius: 15px;
      padding: 100px 80px;
      align-self: flex-end;
      display: flex;
      flex-direction: column;

      .whiteText {
        color: white;
      }

      .testLessonButton {
        text-decoration: none;
        background: #90D9A9;
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.04), 0 2px 6px rgba(0, 0, 0, 0.04), 0 10px 20px rgba(0, 0, 0, 0.04);
        border-radius: 15px;
        border-width: 0;
        padding: 20px 15%;
        font-family: Source Sans Pro, serif;
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 39px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.02em;
        align-self: center;
        margin-top: 200px;
        cursor: pointer;

        color: #FFFFFF;
      }
    }
  }

  .analyticImg, .doneImg {
    width: 100%;
    max-width: 1190px;
  }

  .analyticImg {
    margin-top: 30px;
  }

  .startLearnButton {
    text-decoration: none;
    color: #000;
    background: #FFE8BF;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.04), 0 2px 6px rgba(0, 0, 0, 0.04), 0 10px 20px rgba(0, 0, 0, 0.04);
    border-radius: 15px;
    border-width: 0;
    font-family: Source Sans Pro, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 39px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    align-self: center;

    width: 400px;
    padding: 5px 80px;
    margin-bottom: 95px;
    cursor: pointer;

    p {
      width: 100%;
    }
  }

  .doneImg {
    margin-bottom: 150px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .container {
    .fullAnalyticsText {
      margin-top: 30px;
    }

    .analyticContainer {
      background-size: 760px;

      .textContainer {
        align-self: flex-start;
        margin-top: 300px;
        padding: 80px 20px;

        .testLessonButton {
          margin-top: 100px;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .container {
    .fullAnalyticsText {
      margin-top: 30px;
      text-align: center;
    }

    .analyticContainer {
      background-size: 480px;
      background-position: top center;
      height: 1100px;
      justify-content: flex-end;
      flex-direction: column;

      .textContainer {
        width: 90%;
        margin-left: 0;
        align-self: center;
        padding: 50px 10px;

        .testLessonButton {
          margin-top: 50px;
        }
      }
    }

    .startLearnButton{
      width: 380px;
      padding: 5px 20px;
    }

    .doneImg{
      margin-bottom: 50px;
    }
  }
}

@media (max-width: 480px) {
  .container {

    .fullAnalyticsText {
      font-size: 30px;
      line-height: 35px;
    }

    .analyticContainer {
      background-size: 310px;
      height: 700px;

      .textContainer{
        width: 270px;
        padding: 20px 20px;

        .title {
          font-size: 30px;
          line-height: 30px;
          text-align: left;
        }

        .text{
          margin-top: 10px;
          font-size: 20px;
          line-height: 25px;
          text-align: left;
        }

        .testLessonButton {
          margin-top: 80px;
        }

      }
    }

    .startLearnButton {
      font-size: 20px;
      line-height: 25px;
      padding: 10px 20px;
      width: 280px;
      margin-top: 50px;
    }
    .analyticImg {
      display: none;
    }
  }
}
