.contentRoot {
  z-index: 1;
}

.close {
  opacity: 0;
}

.transparencyOpening {
  transition: opacity;
  transition-timing-function: ease-in-out;
  opacity: 1;
}

.transparencyClosing {
  @extend .transparencyOpening;
  opacity: 0;
}