.textContainer {
  width: 60%;
  margin: 80px auto;
  background-color: #fff;
  border: solid 1px black;
  padding: 80px;
  text-align: justify;

  .title{
    font-size: 24px;
    text-align: center;
    width: 100%;
  }

  .pointSubParagraph{
    margin-left: 30px;
  }
}

@media screen and (max-width: 767px){
  .textContainer{
    padding: 30px;
    width: 80%;
    margin-top: 20px;
  }
}
