.logoLoader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoLoadingIcon {
  animation: logoScale 1s ease-in-out infinite alternate;
}

@keyframes logoScale {
  100% {
    transform: scale(1.5)
  }
}

$color-1: #93dda0;
$color-2: #81C784;
$color-3: #63ab71;

$color: $color-1, $color-2, $color-3;

.mainLoaderContainer {
  display: flex;
  align-items: center;
}

@mixin mainLoaderItemAnim() {
  @keyframes scale {
    0% {
      transform: scale(1);
    }
    50%,
    75% {
      transform: scale(2.5);
    }
    78%, 100% {
      opacity: 0;
    }
  }
}

@for $i from 1 through 3 {
  .mainLoaderItem#{$i} {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    @include mainLoaderItemAnim();
    background: nth($color, $i);
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:before {
      content: '';
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: nth($color, $i);
      opacity: 0.7;
      animation: scale 1.6s infinite cubic-bezier(0, 0, 0.49, 1.02);
      animation-delay: 200ms * $i;
      transform: scale(1);
    }
  }
}


