.container {
  width: 100%;
  height: 100%;
  background-color: #fff;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.04), 0 2px 6px rgba(0, 0, 0, 0.04), 0 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  .cover{
    width: 30%;
  }
  .bigImage{
    width: 80%;
  }

  .subTitle{
    margin-bottom: 20px;
  }

}
