.root {
}

.snacksContainer {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
}

.alertSnackbar {
    position: inherit;
    margin-top: 4px;
    margin-bottom: 4px;
    left: inherit;
    right: inherit;
    top: inherit;
    bottom: inherit;
}