.close {
  opacity: 0;
}

.transparencyOpening {
  transition: opacity;
  transition-timing-function: ease-in-out;
  opacity: 1;
}

.transparencyClosing {
  @extend .transparencyOpening;
  opacity: 0;
}

.poppingOpening {
  transition: transform;
  transition-timing-function: ease-in-out;
  transform: translate(0)
}

.poppingAnimation_top {
  transform: translateY(-100vh);
}

.poppingAnimation_left {
  transform: translateX(-100vw);
}

.collapseOpening {
  transition: max-height;
  overflow: hidden;
}

.collapseClosing {
  @extend .collapseOpening;
  max-height: 0;
}

.collapseClose {
  max-height: 0;
  overflow: hidden;
}

