$outerWidth: 68px;
$outerHeight: $outerWidth;
$outerRadius: $outerWidth;

$innerWidth: 60px;
$innerHeight: $innerWidth;
$innerRadius: $innerWidth;

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .svgIcon {
    width: $outerWidth;
    height: $outerHeight;

    transform: rotate(-0.25turn)
  }

  .innerCircle {
    width: $innerWidth;
    height: $innerHeight;
    border-radius: $innerRadius;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
  }
}
