$space: 4px;

$from: 0;
$to: 11;

@mixin space($className, $propName) {
  @for $i from $from through $to {
    .#{$className}#{$i} {
      #{$propName}: $space * $i;
    }
  }
}

@mixin margins($classPostfix, $value) {
  .margin#{$classPostfix} {
    margin: $value;
  }
  .marginTop#{$classPostfix} {
    margin-top: $value;
  }
  .marginBottom#{$classPostfix} {
    margin-bottom: $value;
  }
  .marginLeft#{$classPostfix} {
    margin-left: $value;
  }
  .marginRight#{$classPostfix} {
    margin-right: $value;
  }
}

@include space(marginX, margin)
@include space(marginTopX, margin-top)
@include space(marginBottomX, margin-bottom)
@include space(marginLeftX, margin-left)
@include space(marginRightX, margin-right)
@include space(paddingX, padding)
@include space(paddingTopX, padding-top)
@include space(paddingBottomX, padding-bottom)
@include space(paddingLeftX, padding-left)
@include space(paddingRightX, padding-right)
@include margins(Auto, auto)