$fontSize: 4px;

.nano {
  font-size: $fontSize * 3;
}

.micro {
  font-size: $fontSize * 3.5;
}

.mini {
  font-size: $fontSize * 4;
}

.x-small {
  font-size: $fontSize * 5;
}

.small {
  font-size: $fontSize * 6;
}

.medium {
  font-size: $fontSize * 7;
}

.large {
  font-size: $fontSize * 8;
}

.x-large {
  font-size: $fontSize * 9;
}

.giant {
  font-size: $fontSize * 10;
}

.plusSize {
  font-size: $fontSize * 11;
}

