.container{
  margin-top: 15vh;
  background: #6F6F6F;
  opacity: 0.9;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.04), 0 2px 6px rgba(0, 0, 0, 0.04), 0 10px 20px rgba(0, 0, 0, 0.04);
  text-align: center;
}
