p, h1, h2, h3, h4, h5, h6, span, a {
  font-weight: normal;
  font-family: Roboto, serif;
}

.root {
  font-family: Roboto, Source Sans Pro, serif;
  line-height: 1.2;
}

.bottomIdent {
  margin-bottom: 0.4em;
}

.topIdent {
  margin-top: 0.4em;
}

.bold {
  font-weight: bold;
}

.textIdent {
  text-indent: 1.2em;
}