.root {
  width: 100%;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 18px;
  padding-right: 18px;
}

@media (max-width: 800px) {
  .root {
    padding-left: 8px;
    padding-right: 8px;
  }
}

