.stateContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.filledState {
  height: calc(100vh - 300px);
  min-height: 300px;
}

.fullScreenContainer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
}

.fullscreenLogoAnim {
  animation: logoAnim 1s ease-in-out infinite alternate;
}

@keyframes logoAnim {
  100% {
    transform: scale(1.5)
  }
}