.container {
  background-color: transparent;
  background-image: url("./static/learning-min.png");
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  width: 100%;

  p {
    margin: 0;
  }

  .firstContainer {
    background: #B2EEBD;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.04), 0 4px 8px rgba(0, 0, 0, 0.04), 0 16px 24px rgba(0, 0, 0, 0.04), 0 24px 32px rgba(0, 0, 0, 0.04);
    border-radius: 15px;

    .title {
      margin-top: 0;
    }

    .text {
      margin-top: 20px;
    }
  }

  .secondContainer {
    background-repeat: no-repeat;
    display: flex;

    .smallTextContainer .text, .bigTextContainer .text {
      margin-top: 30px;
      font-weight: 300;
    }
  }
}

/* Large desktops and laptops */
@media (min-width: 1200px) {

  .container {
    height: 2200px;
    background-size: 665px;
    background-position: 45px 650px;

    .firstContainer {
      margin-top: 850px;
      max-width: 790px;
      width: 40%;
      padding: 85px 38px 178px 52px;
      align-self: flex-end;
      margin-right: 42px;
    }

    .secondContainer {
      width: 100%;
      margin-top: 120px;
      display: flex;
      justify-content: space-around;

      .smallImg {
        display: none;
      }

      .bigImg {
        width: 760px;
        height: 845px;
      }

      .smallTextContainer {
        display: none
      }

      .bigTextContainer {
        max-width: 490px;
        width: 33%;
        margin-top: 310px;
        margin-right: 60px;
      }
    }
  }

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

  .container {
    height: 2450px;
    background-size: 665px;
    background-position: 45px 650px;

    .firstContainer {
      margin-top: 850px;
      max-width: 790px;
      width: 40%;
      padding: 85px 38px 178px 52px;
      align-self: flex-end;
      margin-right: 42px;
    }

    .secondContainer {
      width: 100%;
      height: 845px;
      margin-top: 120px;
      justify-content: flex-start;
      display: flex;

      .smallImg {
        display: none;
      }

      .bigImg {
        width: 760px;
        height: 845px;
        margin-left: -250px;
      }

      .bigTextContainer{
        display: none;
      }

      .smallTextContainer {
        max-width: 490px;
        width: 33%;
        margin-left: 75px;
      }
    }
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

  .container {
    height: 3550px;
    background-size: 500px;
    background-position: center 1500px;
    align-items: center;

    .firstContainer {
      margin-top: 1850px;
      width: 80%;
      padding: 85px 38px 178px 52px;
    }

    .secondContainer {
      width: 100%;
      height: 1300px;
      justify-content: center;
      margin-top: 50px;
      flex-direction: column;
      align-items: center;

      .bigImg{
        display: none;
      }

      .bigTextContainer{
        display: none;
      }

      .smallTextContainer {
        width: 90%;

        .text {
          font-size: 22px;
        }
      }

      .smallImg {
        width: 70%;
      }
    }
  }

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

  .container {
    height: 3450px;
    background-size: 500px;
    background-position: center 1250px;
    align-items: center;

    .firstContainer {
      margin-top: 1600px;
      width: 80%;
      padding: 85px 38px 55px 52px;
    }

    .secondContainer {
      width: 100%;
      height: 1300px;
      justify-content: center;
      margin-top: 50px;
      flex-direction: column;
      align-items: center;

      .bigImg{
        display: none;
      }

      .bigTextContainer{
        display: none;
      }

      .smallImg{
        width: 70%;
      }

      .smallTextContainer {
        width: 90%;

        .text {
          font-size: 22px;
        }
      }
    }
  }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {

  .container {
    height: 2500px;
    background-image: none;

    .firstContainer {
      margin-top: 1200px;
      padding: 10px 25px;

      .title {
        font-size: 28px;
        line-height: 35px;
      }

      .text {
        font-size: 17px;
        line-height: 25px;
      }
    }

    .secondContainer {

      .smallImg{
        width: 99%;
      }
      .smallTextContainer {
        .title {
          font-size: 28px;
          line-height: 35px;
        }

        .text {
          font-size: 17px;
          line-height: 25px;
        }
      }
    }
  }

}

/* Iphone 5 */
@media (max-width: 320px) {

  .container{
    height: 2400px;
  }
}
