.container {
  display: flex;
  width: 100%;
  height: 775px;
  z-index: 1;
  background-color: #FFE0AA;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  p {
    margin: 0;
  }


  .text {
    margin-top: 275px;
    width: 900px;
    font-size: 50px;
    text-align: center;
  }

  .secondText {
    margin-top: -120px;
  }

  .button {
    font-family: Source Sans Pro, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 38px;
    text-align: center;
    background-color: #90D9A9;
    color: #fff;
    border: 0;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.04), 0 2px 6px rgba(0, 0, 0, 0.04), 0 16px 24px rgba(0, 0, 0, 0.06);
    border-radius: 15px;
    padding: 20px 40px;
    width: fit-content;
    margin-bottom: 170px;
    cursor: pointer;
    text-decoration: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .container {
    .text {
      width: 95%;
      font-size: 40px;
    }
  }
}

@media (max-width: 767px) {
  .container {
    .text {
      width: 99%;
      font-size: 40px;
      line-height: 45px;
    }
  }
}

@media (max-width: 480px) {
  .container {
    .text {
      font-size: 30px;
      line-height: 40px;
    }

    .secondText {
      margin-top: -130px;
    }

    .button {
      font-size: 24px;
      padding: 20px 20px;
    }

  }
}
