.root {
  display: flex;
  align-items: center;
  padding: 16px;
}

.icon {
  font-size: 20px;
  margin-right: 8px;
  min-width: 22px;
  min-height: 22px;
}

.text {
  margin-right: 8px;
  margin-left: 8px;
}