.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    margin: 0;
  }

  .window {
    display: flex;
    background-color: #fff;
    border-radius: 15px;
    margin: 20px 0;

    .leftPart {
      background-color: #FFE6BB;
      border-radius: 15px 0 0 15px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      background-repeat: no-repeat;

      .title {
        color: #000;
      }
    }

    .rightPart {
      display: flex;
      justify-content: center;
      align-items: center;

      form {

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 100%;
        width: 100%;

        .formTopContainer {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;


          .inputContainer {
            position: relative;
            width: 100%;
            height: 46%;
            display: flex;
            align-items: center;
            justify-content: center;

            & > div {
              width: 100%;
              height: 100%;

              &:before {
                background-repeat: no-repeat;
                position: absolute;
                content: "";
              }


            }

            .errorMessage {
              position: absolute;
              top: 70px;
              font-family: Source Sans Pro, serif;
              font-size: 20px;
            }
          }

          input {
            background-color: #F6F6F6;
            border-radius: 10px;
            border: 0;
            font-family: Source Sans Pro, serif;
            box-sizing: border-box;
            height: 100%;
            width: 100%;
          }

          .name {
            &:before {
              background-image: url("./static/person.png");
            }
          }

          .email {
            &:before {
              background-image: url("./static/mail.png");
            }
          }

          .error input {
            color: red;
          }
        }

        .doneButton {
          background: #FFEFD4;
          box-shadow: 0 0 1px rgba(0, 0, 0, 0.04), 0 2px 6px rgba(0, 0, 0, 0.04), 0 16px 24px rgba(0, 0, 0, 0.06);
          border-radius: 18px;
          border-width: 0;
          color: #000;
          font-style: normal;
          font-weight: 600;
          font-size: 20px;
          line-height: 25px;
          cursor: pointer;
          box-sizing: border-box;
        }

        .agree {
          font-family: "Source Sans Pro", serif;
          margin-top: 10px;
          width: 80%;
          text-align: center;
        }

        .agree.error {
          border: solid 1px red;
        }
      }
    }
  }
}

.closed {
  display: none;
}

/* Large desktops and laptops */
@media (min-width: 1200px) {

  .wrapper {
    height: 80vh;
    min-height: 800px;
    .window {
      width: 1180px;
      height: 682px;

      .leftPart {
        width: 430px;
        height: 100%;
        background-image: url("./static/leftImage-min.png");
        background-position: center bottom;
        background-size: 450px;

        .title {
          width: 360px;
          height: 170px;
          margin-top: 67px;
          margin-left: 53px;
        }
      }

      .rightPart {
        width: 750px;
        height: 100%;

        form {
          background-image: url("./static/welcome-min.png");
          background-repeat: no-repeat;
          background-position: center 80px;
          background-size: 372px;

          .formTopContainer {
            margin-top: 350px;
            height: 130px;
            width: 370px;

            div {
              &:before {
                background-size: 24px;
                width: 24px;
                height: 24px;
                top: 19px;
                left: 15px;
              }
            }

            input {
              font-size: 25px;
              padding: 15px 45px;
            }
          }

          .doneButton {
            width: 270px;
            height: 50px;
            font-size: 25px;
            margin-top: 50px;
          }
        }
      }

    }
  }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

  .wrapper {
    .window {
      width: 900px;
      height: 520px;

      .leftPart {
        width: 330px;
        height: 100%;
        background-image: url("./static/leftImage-min.png");
        background-position: center bottom;
        background-size: 99%;

        .title {
          font-size: 35px;
          width: 260px;
          height: 130px;
          line-height: 44px;
          margin-top: 46px;
          margin-left: 34px;
        }
      }

      .rightPart {
        width: 570px;
        height: 100%;

        form {
          background-image: url("./static/welcome-min.png");
          background-repeat: no-repeat;
          background-position: center 80px;
          background-size: 250px;

          .formTopContainer {
            margin-top: 250px;
            height: 100px;
            width: 300px;

            .inputContainer {
              .name:before, .email:before {
                background-size: 20px;
                width: 20px;
                height: 20px;
                top: 14px;
                left: 7px;
              }

              .errorMessage {
                top: 50px;
              }
            }

            input {
              font-size: 20px;
              padding: 10px 30px;
            }
          }

          .doneButton {
            width: 180px;
            height: 45px;
            font-size: 20px;
            margin-top: 40px;
          }
        }
      }

    }
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

  .wrapper {
    .window {
      width: 745px;
      height: 430px;

      .leftPart {
        width: 270px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-image: url("./static/leftImage-min.png");
        background-repeat: no-repeat;
        background-position: center 90%;
        background-size: 100%;

        .title {
          font-size: 28px;
          width: 215px;
          height: 105px;
          line-height: 35px;
          margin-top: 40px;
          margin-left: 28px;
        }
      }

      .rightPart {
        width: 475px;
        height: 100%;

        form {
          background-image: url("./static/welcome-min.png");
          background-repeat: no-repeat;
          background-position: center 40px;
          background-size: 250px;

          .formTopContainer {
            margin-top: 215px;
            height: 100px;
            width: 300px;

            .inputContainer {
              .name:before, .email:before {
                background-size: 20px;
                width: 20px;
                height: 20px;
                top: 14px;
                left: 7px;
              }

              .errorMessage {
                top: 50px;
              }
            }

            input {
              font-size: 20px;
              padding: 10px 30px;
            }
          }

          .doneButton {
            width: 180px;
            height: 45px;
            font-size: 20px;
            margin-top: 40px;
          }
        }
      }

    }
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

  .wrapper {
    overflow: scroll;
    .window {
      overflow: scroll;
      width: 465px;
      height: 625px;
      flex-direction: column;

      .leftPart {
        border-radius: 15px 15px 0 0;
        width: 100%;
        height: 300px;
        justify-content: flex-end;
        align-items: center;
        background-image: url("./static/welcome-min.png");
        background-size: 65%;
        background-position: center 20px;

        .title {
          width: 47%;
          font-size: 30px;
          line-height: 35px;
          text-align: center;
        }
      }

      .rightPart {
        height: 325px;

        form {
          display: flex;
          justify-content: center;

          .formTopContainer {
            margin-top: 80px;
            width: 90%;
            height: 134px;

            .inputContainer {

              input {
                padding: 15px 30px;
                font-size: 25px;
              }

              .name:before, .email:before {
                background-size: 24px;
                width: 24px;
                height: 24px;
                top: 19px;
                left: 6px;
              }

              .errorMessage {
                top: 60px;
              }
            }
          }
        }

        .doneButton {
          width: 241px;
          height: 52px;
          margin-top: 30px;
        }
      }
    }
  }
}

/* Portrait phones and smaller */
@media (max-width: 480px) and (orientation: portrait) {

  .wrapper {


    .window {
      width: 90%;
      height: 550px;
      overflow: scroll;


      .leftPart {
        height: 220px;

        .title {
          width: 60%;
          font-size: 25px;
          line-height: 30px;
        }
      }

      .rightPart {
        height: 300px;

        form {
          .formTopContainer {
            margin-top: 40px;

            .inputContainer {

              input {
                padding: 15px 30px;
                font-size: 20px;
              }

              .name:before, .email:before {
                width: 20px;
                height: 20px;
                background-size: 20px;
                top: 22px;
                left: 8px;
              }

              .errorMessage {
                top: 60px;
                font-size: 18px;
              }
            }
          }
        }

        .doneButton {
          margin-top: 40px;
        }
      }
    }
  }
}

/* Iphone 5 */
@media (max-width: 320px) {
}
