@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

.headerRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #93DEA0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 80px;
  z-index: 1;

  .chooseLanguage {
    position: absolute;
    bottom: -50px;
  }

  .block {
    display: flex;
    width: 50%;
  }

  .leftBlock {
    justify-content: flex-start;

    .logo{
      margin-top: 10px;
    }
    .sloganText {
      margin-left: 4%;
      font-family: Comfortaa, serif;
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 20px;
      text-align: left;
      align-self: center;
    }
  }

  .rightBlock {
    justify-content: flex-end;
    align-items: center;
  }

  .button {
    font-family: Source Sans Pro, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
  }

  .login {
    background-color: transparent;
    border: 0;
    color: #FFE2AA;
    margin-right: 32px;
  }

  .register {
    background-color: #FFE2AA;
    border: 0;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.04), 0 2px 6px rgba(0, 0, 0, 0.04), 0 16px 24px rgba(0, 0, 0, 0.06);
    border-radius: 15px;
    padding: 11px 20px;
    color: #000;
  }

  p {
    margin: 0;
  }
}

/* Large desktops and laptops */
@media (min-width: 1200px) {
  .headerRow {

    .leftBlock {
      margin-left: 126px;

      .logo {
        width: 130px;
        height: 65px;
      }
      .sloganText{
        width: 158px;
      }
    }

    .rightBlock {
      margin-right: 126px;
    }

  }

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .leftBlock {
    margin-left: 100px;

    .logo {
      width: 130px;
      height: 65px;
    }

    .sloganText {
      width: 160px;
    }
  }

  .rightBlock{
    margin-right: 100px;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .leftBlock{
    margin-left: 30px;

    .logo {
      width: 130px;
      height: 65px;
    }

    .sloganText {
      width: 160px;
    }
  }

  .rightBlock{
    margin-right: 30px;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .leftBlock{
    margin-left: 0;

    .logo{
      width: 130px;
      margin-left: 10px;
    }

  }

  .rightBlock{
    margin-right: 10px;

    .login{
      margin-right: 5px;
    }
  }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {

  .leftBlock{
    margin-left: 0;

    .logo{
      width: 80px;
      height: 38px;
    }

    .sloganText{
      display: none;
    }
  }


  .rightBlock{
    margin-right: 10px;

    .login{
      margin-right: 5px;
    }
  }
}

/* Iphone 5 */
@media (max-width: 320px) {

  .headerRow{
    height: 50px;

  .leftBlock{
    margin-left: 0;

  }


  .rightBlock{
    margin-right: 10px;

    .login{
      margin-right: 5px;
    }
  }
  }

}
